@import "../../scss/mq-config";

.menu {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  width: 12em;
  z-index: 999;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-items: left;

  @include mobile() {
    width: 100%;
    font-size: 1.5em;
  }

  button {
    color: white;
    padding: 0.3em;

    font: {
      size: 0.8em;
      family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      weight: normal;
    }

    &.active {
      font-weight: bold;
    }
  }
}
